<div class="about-us">
  <div class="content">
    <span class="section-label">O NAS</span>
    <h1 class="headline">
        Zapewniamy komfort i wygodę.<br />
        Profesjonalny montaż <span class="highlight">klimatyzacji</span><br />
        dla Twojego domu i firmy.
    </h1>
    <p class="description">
    Jesteśmy firmą specjalizującą się w kompleksowej obsłudze w zakresie sprzedaży, montażu i serwisu systemów klimatyzacyjnych. Od początku naszej działalności stawiamy na jakość, niezawodność oraz indywidualne podejście do klienta.
    W naszej ofercie znajdują się nowoczesne, energooszczędne urządzenia renomowanych producentów, które gwarantują komfort przez cały rok – zarówno w upalne lato, jak i chłodniejsze dni. Obsługujemy klientów indywidualnych, firmy oraz instytucje, dostosowując rozwiązania do konkretnych potrzeb i warunków technicznych.
    Nasz zespół tworzą doświadczeni specjaliści, dla których praca to nie tylko obowiązek, ale i pasja. Każdy montaż wykonujemy z dbałością o szczegóły, przestrzegając obowiązujących norm i zaleceń producentów.
    Dzięki zdobytemu zaufaniu i pozytywnym opiniom naszych klientów nieustannie się rozwijamy, poszerzając ofertę oraz podnosząc kwalifikacje. Jeśli szukasz solidnego partnera w zakresie klimatyzacji – jesteś we właściwym miejscu.
    </p>
    <button [routerLink]="['contact']" class="cta">Skontaktuj się z nami</button>
  </div>

  <div class="image-wrapper">
    <img src="https://dmuchamy.pl/data/gfx/pictures/large/2/8/15482_11.png?1713445310" alt="Vidyard Example" />
    <div class="decorative-shape"></div>
  </div>
</div>