<div class="home-container">
    <div class="img-container">
        <img src="klima-baner.png" alt="Clima majster" id="baner"/>
    </div>
    <div class="options-container">
        <a class="option-card" routerLink="/service">
            <img src="clima_service.png" alt="Montaż Klimatyzacji" />
            <div class="card-content">
                <h3>Montaż Klimatyzacji</h3>
                <!-- <button>Sprawdź</button> -->
            </div>
        </a>

        <a class="option-card" routerLink="/store">
            <img src="conditioner.jpg" alt="Klimatyzatory" />
            <div class="card-content">
            <h3>Klimatyzatory</h3>
            <!-- <button>Sprawdź</button> -->
            </div>
        </a>

        <a class="option-card" routerLink="/contact">
            <img src="contact.png" alt="Zadaj pytanie" />
            <div class="card-content">
            <h3>Zadaj pytanie</h3>
            <!-- <button>Sprawdź</button> -->
            </div>
        </a>
    </div>
</div>

