<div class="contact-info-container">
  <div class="form-header">
    <h1>Skontaktuj się z nami</h1>
  </div>
  <div class="contact-details">
    <div>
      <span class="material-icons">location_on</span>
      <p>Adres: ul. Klimatyczna 1, 00-000 Rudnik</p>
    </div>
    <div>
      <span class="material-icons">phone</span><p>Telefon: <a href="tel:+48500000000">+48 500 000 000</a></p>
    </div>
    <div>
      <span class="material-icons">email</span><p>Email: <a href="mailto:klimajster&#64;clima.com">klimajster&#64;clima.com</a></p>
    </div>
  </div>
</div>